14.WebSeviceAndCloud/01.Web-Services-SOA-and-REST/Homework-WebServicesOverview/DistanceCalculatorClient/Service References/ServiceReferenceCalculator/ServiceCalculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19704/ServiceCalculator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CalcDistance" />
  <xs:element name="CalcDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CalcDistance" minOccurs="0" name="startPoint" nillable="true" type="q1:Point" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CalcDistance" minOccurs="0" name="endPoint" nillable="true" type="q2:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcDistanceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>