14.Web Sevice and Cloud/01.Web-Services-SOA-and-REST/Homework-WebServicesOverview/DistanceCalculatorClient/Service References/ServiceReferenceCalculator/ServiceCalculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalcDistance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalcDistance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
</xs:schema>